<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="headerfiles.html :: headerfiles">
</head>
<body>
	<!-- Import navbar fragment  -->
	<div th:replace="navbar.html :: navbar"></div>


	<div class="container">
		<h1>Welcome to the League!</h1>
	


		<div sec:authorize="not(isAuthenticated())">Please use the
			navigation bar above to login.</div>
		<div sec:authorize="hasRole('ROLE_USER')">You have normal user rights.</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">You are logged in with an admin account.</div>
		<div sec:authorize="isAuthenticated()">Please use the
			navigation bar above.</div>
	</div>

	<div th:replace="footerfiles.html :: footerfiles"></div>
</body>
</html>