<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>League App</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<!-- Import navbar fragment  -->
	<div th:replace="navbar.html :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						a new match!</div>
				</div>

				<!--  Sub Header -->
				<h1>Match Registration</h1>

				<!-- Input Form -->
				<form th:action="@{/matchupdate}" method="post"
					th:object="${match}" >
		
					<div class="form-group">
						<label class="control-label" for="matchday">Matchday</label> <input
							id="matchday" class="form-control" th:field="*{matchday}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="homeTeam">Home Team</label> <input
							id="homeTeam" class="form-control" th:field="*{homeTeam}"
							required>
					</div>

					<div class="form-group">
						<label class="control-label" for="awayTeam">Away Team</label> <input
							id="awayTeam" class="form-control" th:field="*{awayTeam}"
							required>
					</div>
					
					<div class="form-group">
						<label class="control-label" for="homePoints">Home Team
							Points</label> <input id="homePoints" class="form-control"
							th:field="*{homePoints}" required>
					</div>

					<div class="form-group">
						<label class="control-label" for="awayPoints">Away Team
							Points</label> <input id="awayPoints" class="form-control"
							th:field="*{awayPoints}" required>
					</div>

					
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>