<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- Import navbar fragment  -->
	<div th:replace="navbar.html :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						a new team!</div>
				</div>

				<!--  Sub Header -->
				<h1>Team Registration</h1>

				<!-- Input Form -->
				<form th:action="@{/teamregistration}" method="post"
					th:object="${team}">
					<div class="form-group">
						<label class="control-label" for="name">Team Name</label> <input
							id="name" class="form-control" th:field="*{name}" required
							autofocus="autofocus">
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
							Error</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="coach">Coach Name</label> <input
							id="coach" class="form-control" th:field="*{coach}" required>
						<div th:if="${#fields.hasErrors('coach')}" th:errors="*{coach}">Coach
							Error</div>
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>