<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="headerfiles.html :: headerfiles">
</head>

<body>
	<!-- Import navbar fragment  -->
	<div th:replace="navbar.html :: navbar"></div>

	<div class="container">
		<div class="row">
			<h1>Seasons</h1>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Season Name</th>
					<th>Number Of Teams</th>
					<th>Number Of Matches</th>
					<th>Number Of Matchdays</th>
					<th>Points Per Win</th>
					<th>Points Per Draw</th>
					<th>Points Per Loss</th>
					<th>Active</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="season: ${seasons}">
					<td th:text="${season.id}"></td>
					<td th:text="${season.seasonName}"></td>
					<td th:text="${season.numberOfTeams}"></td>
					<td th:text="${season.numberOfMatches}"></td>
					<td th:text="${season.numberOfMatchdays}"></td>
					<td th:text="${season.leaguePointsPerWin}"></td>
					<td th:text="${season.leaguePointsPerDraw}"></td>
					<td th:text="${season.leaguePointsPerLoss}"></td>
					<td th:text="${season.active}"></td>
					<td ><a th:href="@{/seasontable/{id}(id=${season.id})}"
						class="btn btn-danger">Activate</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="footerfiles.html :: footerfiles"></div>
</body>
</html>